<p-tabs [(value)]="tabPageActiveIndex" (valueChange)="onTabPageChange($event)" scrollable class="tod-content-border">
  <p-tablist>
    <p-tab value="0" [disabled]="!enabledTrivyReports.includes('vr')">Vulnerability Reports</p-tab>
    <p-tab value="1" [disabled]="!enabledTrivyReports.includes('car')">Config Audit Reports</p-tab>
    <p-tab value="2" [disabled]="!enabledTrivyReports.includes('crar')">Cluster RBAC Assessment Reports</p-tab>
    <p-tab value="3" [disabled]="!enabledTrivyReports.includes('esr')">Exposed Secret Reports</p-tab>
  </p-tablist>
  <p-tabpanels>
    @if (enabledTrivyReports.includes('vr'))
    {
      <p-tabpanel value="0">
        <app-dashboard-vulnerability-reports [showDistinctValues]="showDistinctValues"
                                        id="home-vr" />
      </p-tabpanel>
    }
    @if (enabledTrivyReports.includes('car'))
    {
      <p-tabpanel value="1">
        <app-dashboard-config-audit-reports [showDistinctValues]="showDistinctValues"
                                       id="home-car" />
      </p-tabpanel>
    }
    @if (enabledTrivyReports.includes('crar'))
    {
      <p-tabpanel value="2">
        <app-dashboard-cluster-rbac-assessment-reports [showDistinctValues]="showDistinctValues"
                                                  id="home-crar" />
      </p-tabpanel>
    }
    @if (enabledTrivyReports.includes('esr'))
    {
      <p-tabpanel value="3">
        <app-dashboard-exposed-secret-reports [showDistinctValues]="showDistinctValues"
                                         id="home-esr" />
      </p-tabpanel>
    }
    <div class="flex text-sm items-center justify-items-center gap-4 pb-1 pt-2">
      <p-button
        icon="pi pi-refresh"
        label="Refresh Data"
        raised
        size="small"
        class="-mt-1"
        text
        (onClick)="onRefreshData()"
      />
      <p-toggleswitch inputId="distinctSwitch" [(ngModel)]="showDistinctValues" />
      <label for="distinctSwitch" class="">Distinct values</label>

    </div>

  </p-tabpanels>
</p-tabs>
