<div class="grid grid-cols-12 gap-2 items-start md:items-stretch">
  <div class="col-span-12 md:col-span-6">
    <p-panel header="Table States" class="h-full">
      <p-table styleClass="p-datatable-sm text-sm" [tableStyle]="" [value]="clearTablesOptions">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 200px; min-width: 200px">Table Name</th>
            <th style="width: 60px; min-width: 60px">Sort</th>
            <th style="width: 60px; min-width: 60px">Filters</th>
            <th style="width: 60px; min-width: 60px">Widths</th>
            <th style="width: 60px; min-width: 60px">Order</th>
            <th style="width: 60px; min-width: 60px">All</th>
          </tr>
        </ng-template>
        <ng-template let-item pTemplate="body">
          <tr>
            <td style="width: 200px; min-width: 200px">{{ item.description }}</td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [(ngModel)]="item.filters"></p-checkbox>
            </td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [(ngModel)]="item.sort"></p-checkbox>
            </td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [(ngModel)]="item.columnWidths"></p-checkbox>
            </td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [(ngModel)]="item.columnOrder"></p-checkbox>
            </td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [(ngModel)]="item.all"></p-checkbox>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="italic text-muted-color text-sm text-center">
              No data: no saved table layouts found...
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="6">
              <p-button
                icon="pi pi-check-square"
                label="Clear Selected"
                raised
                size="small"
                text
                [disabled]="clearTablesOptions.length == 0"
                (onClick)="onClearTableStatesSelected($event)"
              />
              <p-button
                icon="pi pi-trash"
                label="Clear All"
                raised
                size="small"
                text
                [disabled]="clearTablesOptions.length == 0"
                (onClick)="onClearTableStatesAll($event)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
      <ng-template #footer>
        <p class="text-sm">
          <i class="pi pi-info-circle"></i>
          <b> Hint:</b> Use the options to reset saved states of the tables. This will return the table to its default
          state.
        </p>
      </ng-template>
    </p-panel>
  </div>
  <div class="col-span-12 md:col-span-6">
    <p-panel header="CSV File Names" class="h-full">
      @for (file of csvFileNames; track file) {
        <div class="field pb-1">
          <label for="{{ file.dataKey }}" class="text-sm">{{ file.description }}</label>
          <input id="{{ file.dataKey }}" pInputText class="text-sm w-full" pSize="small" [(ngModel)]="file.savedCsvName" />
        </div>
      }
      @if (csvFileNames.length == 0) {
        <div>
          <p class="italic text-muted-color text-sm">No data: no CSV files saved...</p>
        </div>
      }
      <p-button
        icon="pi pi-file-check"
        label="Update Names"
        raised
        size="small"
        text
        [disabled]="csvFileNames.length == 0"
        (onClick)="onUpdateCsvFileNames($event)"
      />
      <ng-template #footer>
        <p class="text-sm">
          <i class="pi pi-info-circle"></i>
          <b> Hint:</b> Use the options to change the default file names used from CSV exports from Detailed pages.
        </p>
      </ng-template>
    </p-panel>
  </div>
  <div class="col-span-12 md:col-span-6">
    <p-panel header="Trivy Reports States" class="h-full">
      <p-table styleClass="p-datatable-sm text-sm" [tableStyle]="" [value]="trivyReportConfigs">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 200px; min-width: 200px">Trivy Report</th>
            <th style="width: 60px; min-width: 60px">Backend</th>
            <th style="width: 60px; min-width: 60px">Frontend</th>
          </tr>
        </ng-template>
        <ng-template let-item pTemplate="body">
          <tr>
            <td style="width: 200px; min-width: 200px">{{ item.name }}</td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox binary="true" [disabled]="true" [(ngModel)]="item.backendEnabled"></p-checkbox>
            </td>
            <td style="width: 60px; min-width: 60px">
              <p-checkbox
                binary="true"
                [disabled]="!item.backendEnabled"
                [(ngModel)]="item.frontendEnabled"
              ></p-checkbox>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="italic text-muted-color text-sm text-center">
              No data: no Trivy Report Configs found...
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="footer">
          <tr>
            <td colspan="6">
              <p-button
                icon="pi pi-check-square"
                label="Save"
                raised
                size="small"
                text
                (onClick)="onUpdateTrivyReportsStates($event)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
      <ng-template pTemplate="footer">
        <p class="text-sm">
          <i class="pi pi-info-circle"></i>
          <b> Hint:</b> Use the options to enable/disable app sections related to Trivy Reports. Only Frontend ones are
          editable.
        </p>
      </ng-template>
    </p-panel>
  </div>
  <div class="col-span-12 md:col-span-6">
    <p-panel header="Display Settings" class="h-full">
      <div class="flex flex-col">
        <span class="text-lg font-semibold pb-2">Severities</span>
        <span class="font-semibold pb-2">Select Severity display option</span>
        <p-selectButton [options]="severityCssStyleByIdOptions"
                        [(ngModel)]="severityCssStyleByIdOptionValue"
                        optionLabel="label"
                        optionValue="id"
                        class="text-sm"
                        unselectable="true"
                        (onOptionClick)="onSeverityCssStyleByIdOptionsClick($event)" />
        <span class="font-semibold pt-2">Sample</span>
        <div class="py-2">
          @for (sampleValue of [1, 0, -1]; track sampleValue) {
            <p-tag [rounded]="true"
                   [style]="3 | severityCssStyleById:sampleValue:severityCssStyleByIdOptions[severityCssStyleByIdOptionIndex].id"
                   [value]="sampleValue | vulnerabilityCount"
                   class="mr-1" />
          }
          <span class="text-sm">{{ severityCssStyleByIdOptionDescription }}</span>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <p class="text-sm">
          <i class="pi pi-info-circle"></i>
          <b> Hint:</b> Use the options to change various dispaly settings.
        </p>
      </ng-template>
    </p-panel>
  </div>
</div>
