<div class="trivy-table" [ngClass]="getExtraClasses()">
  <p-table
    #trivyTable
    columnResizeMode="expand"
    dataKey="{{ trivyTableOptions!.dataKey }}"
    scrollHeight="flex"
    sortMode="multiple"
    stateStorage="local"
    styleClass="p-datatable-sm text-sm"
    [autoLayout]="true"
    [columns]="trivyTableColumns"
    [expandedRowKeys]="expandedRows"
    [exportFilename]="csvFileName"
    [loading]="isLoading"
    [ngStyle]="{ 'flex-grow': '1', display: 'flex', 'flex-direction': 'column' }"
    [reorderableColumns]="true"
    [resizableColumns]="true"
    [scrollable]="true"
    [selectionMode]="trivyTableOptions!.tableSelectionMode"
    [stateKey]="tableStateKey"
    [tableStyle]="trivyTableOptions!.tableStyle"
    [value]="dataDtos!"
    [virtualScroll]="true"
    [virtualScrollItemSize]="55"
    [(selection)]="selectedDataDtos"
    (onRowCollapse)="onRowExpandCollapse($event)"
    (onRowExpand)="onRowExpandCollapse($event)"
    (onStateSave)="onTableStateSave()"
    (selectionChange)="onSelectionChange($event)"
  >
    <ng-template pTemplate="caption">
      <div>
        <p-button *ngIf="trivyTableOptions!.isRefreshVisible && !trivyTableOptions!.isRefreshFiltrable"
                  icon="pi pi-refresh"
                  label="Refresh"
                  raised
                  size="small"
                  text
                  (onClick)="onFilterRefresh($event)" />
        <p-splitButton *ngIf="trivyTableOptions!.isRefreshVisible && trivyTableOptions!.isRefreshFiltrable"
                       #refreshSplitButton
                       icon="pi pi-refresh"
                       label="Refresh"
                       raised
                       size="small"
                       text
                       (onClick)="onFilterRefresh($event)"
                       (onDropdownClick)="onFilterDropdownClick($event)" />
        <p-button *ngIf="trivyTableOptions!.isClearSelectionVisible"
                  icon="pi pi-list"
                  label="Clear Selected"
                  size="small"
                  text
                  [disabled]="!isTableRowSelected()"
                  (onClick)="onTableClearSelected()" />
        <p-button *ngIf="trivyTableOptions!.dataKey"
                  icon="pi pi-expand"
                  label="Collapse All"
                  raised
                  size="small"
                  text
                  [disabled]="!anyRowExpanded"
                  (onClick)="onTableCollapseAll()" />
        <p-button *ngIf="trivyTableOptions!.isResetFiltersVisible"
                  icon="pi pi-filter"
                  label="Clear Sort/Filters"
                  raised
                  size="small"
                  text
                  [disabled]="!isTableFilteredOrSorted()"
                  (onClick)="onClearSortFilters()" />
        <p-button *ngIf="trivyTableOptions!.isExportCsvVisible"
                  icon="pi pi-file-excel"
                  label="Export to CSV"
                  raised
                  size="small"
                  text
                  (onClick)="csvExportOp.toggle($event)" />
        <p-button *ngIf="trivyTableOptions && trivyTableOptions.multiHeaderAction && trivyTableOptions.multiHeaderAction.length == 1"
                  icon="pi pi-cog"
                  [label]="trivyTableOptions.multiHeaderAction[0]"
                  raised
                  size="small"
                  text
                  [disabled]="!dataDtos"
                  (onClick)="onMultiHeaderAction(trivyTableOptions.multiHeaderAction[0])" />
        <p-splitButton *ngIf="trivyTableOptions && trivyTableOptions.multiHeaderAction && trivyTableOptions.multiHeaderAction.length > 1"
                       icon="pi pi-cog"
                       [label]="trivyTableOptions.multiHeaderAction[0]"
                       class="text-sm"
                       raised
                       size="small"
                       text
                       [disabled]="!dataDtos"
                       [model]="multiHeaderActionItems"
                       (onClick)="onMultiHeaderAction(trivyTableOptions.multiHeaderAction[0])">
        </p-splitButton>
      </div>
    </ng-template>
    <ng-template let-columns pTemplate="header">
      <tr>
        <th *ngIf="trivyTableOptions!.rowExpansionRender" style="width: 50px"></th>
        <th *ngFor="let col of columns"
            pReorderableColumn
            pResizableColumn
            style="{{ col.style }}"
            [pSortableColumn]="col.isSortable ? col.field : null">
          {{ col.header }}
          <p-sortIcon *ngIf="col.isSortable && (col.isSortIconVisible ?? col.isSortable)"
                      field="{{ col.field }}"
                      class="sm-sortIcon"/>
          <p-columnFilter *ngIf="col.isFiltrable && col.multiSelectType === 'none'"
                          display="menu"
                          field="{{ col.field }}"
                          type="text"
                          class="sm-filterIcon"/>
          <p-columnFilter *ngIf="col.isFiltrable && col.multiSelectType === 'namespaces'"
                          display="menu"
                          field="{{ col.field }}"
                          matchMode="in"
                          [showAddButton]="false"
                          [showMatchModes]="false"
                          [showOperator]="false"
                          class="sm-filterIcon">
            <ng-template let-filter="filterCallback" pTemplate="filter">
              <p-multiSelect optionLabel=""
                             placeholder="Any"
                             styleClass="text-sm"
                             [options]="activeNamespaces!"
                             [style]="{ width: '300px' }"
                             [(ngModel)]="filterSelectedActiveNamespaces"
                             (onChange)="filter($event.value)">
              </p-multiSelect>
              <ng-template let-option pTemplate="item">
                <div [class]="'text-sm'">{{ option }}</div>
              </ng-template>
            </ng-template>
          </p-columnFilter>
          <p-columnFilter *ngIf="col.isFiltrable && col.multiSelectType === 'severities'"
                          display="menu"
                          field="{{ col.field }}"
                          matchMode="in"
                          [showAddButton]="false"
                          [showMatchModes]="false"
                          [showOperator]="false"
                          class="sm-filterIcon">
            <ng-template let-filter="filterCallback" pTemplate="filter">
              <p-multiSelect optionLabel="name"
                             placeholder="Any"
                             styleClass="text-sm"
                             [filter]="false"
                             [options]="filterSeverityOptions"
                             [showHeader]="false"
                             [showToggleAll]="false"
                             [(ngModel)]="filterSelectedSeverityIds"
                             (onChange)="filter($event.value)">
                <ng-template let-severityIds pTemplate="selectedItems">
                  <div>{{ severityWrapperGetNames(severityIds, 2) }}</div>
                </ng-template>
                <ng-template let-option pTemplate="item">
                  <div class="flex items-center gap-2" [style]="{ 'font-size': '14px' }">
                    {{ severityWrapperGetCapitalizedName(option) }}
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-expanded="expanded" let-rowData let-rowIndex="rowIndex" pTemplate="body">
      <tr style="height: 55px" [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td *ngIf="trivyTableOptions!.dataKey" style="max-width: 50px">
          <p-button
            pRipple
            size="small"
            styleClass="p-0"
            type="button"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            [plain]="true"
            [pRowToggler]="rowData"
            [rounded]="true"
            [text]="true"
          />
        </td>
        <td *ngFor="let col of columns" style="{{ col.style }}">
          <span *ngIf="col.renderType == 'standard'" class="truncate-ellipsis">{{ rowData[col.field] }}</span>
          <span *ngIf="col.renderType == 'date'">{{ rowData[col.field] | date: 'yyyy-MM-dd' }}</span>
          <span *ngIf="col.renderType == 'dateTime'">{{ formatUtcToLocal(rowData[col.field]) }}</span>
          <div *ngIf="col.renderType == 'imageNameTag'">
            <span>{{ rowData[col.field] }}:{{ rowData[col.extraFields[0]] }}</span>
            <p-tag *ngIf="rowData[col.extraFields[1]]"
                   value="EOSL"
                   [rounded]="true"
                   [style]="{ 'margin-left': '10px', background: severityWrapperGetCssColor(1) }" />
          </div>
          <a *ngIf="col.renderType == 'link'" href="{{ rowData[col.extraFields[0]] }}" target="_blank">
            {{
            rowData[col.field]
            }}
          </a>
          <p-tag *ngIf="col.renderType == 'severityBadge'"
                 [rounded]="true"
                 [style]="{ background: severityWrapperGetCssColor(rowData[col.field]) }"
                 [value]="severityWrapperGetCapitalizedName(rowData[col.field])" />
          <div *ngIf="col.renderType == 'severityMultiTags'" style="display: flex; justify-content: space-between">
            <p-tag [rounded]="true"
                   [style]="{ background: severityWrapperGetCssColor(0) }"
                   [value]="rowData[col.field]" />
            <div *ngFor="let extraField of col.extraFields; let i = index">
              <p-tag [rounded]="true"
                     [style]="{ background: severityWrapperGetCssColor(i + 1) }"
                     [value]="rowData[col.extraFields[i]]" />
            </div>
          </div>
          <p-tag *ngIf="col.renderType == 'eosl' && rowData[col.field]"
                 icon="pi pi-exclamation-circle"
                 [rounded]="true"
                 [style]="{ background: severityWrapperGetCssColor(1) }"
                 [value]="'true'" />
          <p-tag *ngIf="col.renderType == 'semaphore'"
                 [rounded]="true"
                 [style]="rowData[col.field] | semaphoreCssStyleByName"
                 [value]="rowData[col.field]" />
          <p-tag *ngIf="col.renderType == 'severityValue'"
                 [rounded]="true"
                 [style]="col.extraFields[0] ?? '' | severityCssStyleById:(rowData[col.field] ?? -1)"
                 [value]="rowData[col.field] | vulnerabilityCount" />
          <span *ngIf="col.renderType == 'multiline'" [innerHTML]="rowData[col.field].join('<br>')"></span>
          <p-button *ngIf="col.renderType == 'action'"
                    [label]="col.extraFields[0]"
                    size="small"
                    text
                    raised
                    (onClick)="onRowAction(rowData)"
                    severity="contrast" />
          <p-tag *ngIf="col.renderType == 'boolean'"
                 [icon]="'pi ' + (rowData[col.field] ? 'pi-verified' : 'pi-times-circle')"
                 [rounded]="true"
                 [style]="rowData[col.field] | booleanCssStyle"
                 [value]="rowData[col.field].toString() | capitalizeFirst" />
        </td>
      </tr>
    </ng-template>
    <ng-template *ngIf="trivyTableOptions!.rowExpansionRender" let-rowData pTemplate="rowexpansion">
      <tr>
        <td [attr.colspan]="trivyTableColumns.length + 1">
          <div *ngIf="trivyTableOptions!.rowExpansionRender == 'table'" class="pl-4">
            <p-table styleClass="text-sm p-datatable-sm" [value]="[{}]">
              <ng-template *ngIf="trivyExpandTableOptions.isHeaderVisible" pTemplate="header">
                <tr>
                  <th
                    *ngFor="let col of trivyExpandTableOptions.columnsArray"
                    style="{{ trivyExpandTableFunction(rowData, 'row', col).style }}"
                  >
                    {{ trivyExpandTableFunction(rowData, 'header', col).value }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body">
                <!--<tr *ngFor="let row of getExpandCellRowArray(rowData)">-->
                <tr *ngFor="let row of rowData | cellRowArray:trivyExpandTableOptions">
                  <td *ngFor="let col of trivyExpandTableOptions.columnsArray"
                      style="{{ trivyExpandTableFunction(rowData, 'row', col, row).style }}">
                    <div *ngIf="!trivyExpandTableFunction(rowData, 'row', col, row).url">
                      <span>{{ trivyExpandTableFunction(rowData, 'row', col, row).value }}</span>
                      <p-button *ngIf="trivyExpandTableFunction(rowData, 'row', col, row).buttonLink"
                                label="{{ trivyExpandTableFunction(rowData, 'row', col, row).buttonLink }}"
                                size="small"
                                [text]="true"
                                (onClick)="onTrivyDetailsTableCallback(rowData)" />
                      <p-tag *ngIf="trivyExpandTableFunction(rowData, 'row', col, row).badge"
                             [rounded]="true"
                             [style]="{ 'margin-left': '10px', background: severityWrapperGetCssColor(1) }"
                             [value]="trivyExpandTableFunction(rowData, 'row', col, row).badge" />
                      <span *ngIf="trivyExpandTableFunction(rowData, 'row', col, row).localTime">{{ trivyExpandTableFunction(rowData, 'row', col, row).localTime | localTime }}</span>
                      <span *ngIf="trivyExpandTableFunction(rowData, 'row', col, row).cron">{{ trivyExpandTableFunction(rowData, 'row', col, row).cron | cron }}</span>
                    </div>
                    <a *ngIf="trivyExpandTableFunction(rowData, 'row', col, row).url"
                       href="{{ trivyExpandTableFunction(rowData, 'row', col, row).url }}"
                       target="_blank">
                      {{ trivyExpandTableFunction(rowData, 'row', col, row).value }}
                    </a>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div *ngIf="trivyTableOptions!.rowExpansionRender == 'messages'" class="pl-4 whitespace-normal">
            <li *ngFor="let mess of rowData.messages">{{ mess }}</li>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template *ngIf="trivyTableOptions!.isFooterVisible" pTemplate="summary">
      <div>
        Total
        <p-tag value="{{ trivyTableTotalRecords }}" [rounded]="true" severity="contrast"/>
        | Filtered
        <p-tag value="{{ trivyTableFilteredRecords }}" [rounded]="true" severity="contrast"/>
      </div>
    </ng-template>
  </p-table>

  <p-popover #csvExportOp [dismissable]="true" (onHide)="onOverlayToogle()" (onShow)="onOverlayToogle()">
    <div style="width: 300px">
      <div class="field">
        <label for="csvFileName" class="text-sm">CSV File Name</label>
        <input id="csvFileName" pInputText class="text-sm w-full" [(ngModel)]="csvFileName" />
      </div>
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-6">
          <p-button
            icon="pi pi-filter"
            label="Export Filtered"
            raised
            size="small"
            text
            [disabled]="!trivyTable.filteredValue"
            [style]="{ width: '100%' }"
            (onClick)="onExportToCsv('filtered')"
          />
        </div>
        <div class="col-span-6">
          <p-button
            icon="pi pi-align-justify"
            label="Export All"
            raised
            size="small"
            text
            [style]="{ width: '100%' }"
            (onClick)="onExportToCsv('all')"
          />
        </div>
      </div>
    </div>
  </p-popover>

  <p-popover
    *ngIf="filterRefreshSeverities"
    #serverFilterDataOp
    [dismissable]="true"
    [hideTransitionOptions]="'0.3s ease-out'"
    [showTransitionOptions]="'0.3s ease-in'"
    (onHide)="onOverlayToogle()"
    (onShow)="onOverlayToogle()"
  >
    <div class="flex-col gap-4 w-60">
      <div class="row w-full tex-xs">
        <p-select
          #filterNamespacesSelect
          placeholder="Select a Namespace"
          styleClass="w-full text-sm"
          [checkmark]="true"
          [options]="activeNamespaces!"
          [showClear]="true"
          [(ngModel)]="filterRefreshActiveNamespace"
        />
      </div>
      <hr />

      <div class="row">
        <span>Severities</span>
        <div>
          <div class="flex-col gap-0 mt-2">
            <div *ngFor="let severityDto of severityDtos" class="field-checkbox mb-2 text-sm">
              <p-checkbox name="group"
                          styleClass="ml-2"
                          [value]="severityDto"
                          [inputId]="severityDto.id.toString()"
                          [(ngModel)]="filterRefreshSeverities" />
              <label [for]="severityDto.id" class="ml-2"> {{ severityDto.name | capitalizeFirst }} </label>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-6">
            <p-button
              icon="pi pi-refresh"
              label="Refresh"
              raised
              size="small"
              styleClass="w-full"
              text
              (onClick)="onFilterData()"
            />
          </div>
          <div class="col-span-6">
            <p-button
              icon="pi pi-replay"
              label="Reset"
              raised
              size="small"
              styleClass="w-full"
              text
              (onClick)="onFilterReset()"
            />
          </div>
        </div>
      </div>
    </div>
  </p-popover>
</div>
<div *ngIf="overlayVisible" class="custom-backdrop"></div>
