/* You can add global styles to this file, and also import other style files */

@import '../node_modules/primeicons/primeicons.css';
@plugin "tailwindcss-primeui";
@layer tailwind, primeng, app-layer;

@layer tailwind {
  @import "./styles/tailwind.local.css";
  
}

/* Components fixes*/
@layer app-layer {
  @import './styles/p-breadcrumb.scss';
  @import './styles/p-inputswitch.scss';
  @import './styles/p-panel.scss';
  @import './styles/p-card.scss';
}

 Others 
.hide-on-small {
  display: none;
}

@media (min-width: 992px) {
  .hide-on-small {
    display: block;
  }
}

h4.no-margins {
  margin-block-start: 0;
  margin-block-end: 0;
}

 // tests 
.custom-small-row tr {
  height: 25px;  
}

.custom-small-row td {
  padding: 0px;  
  padding-left: 4px;
  height: 25px !important;
  line-height: 1em;
}

p-sortIcon.sm-sortIcon .p-sortable-column-icon {
  font-size: 0.8rem !important;
  width: 12px !important;
  height: 12px !important;
}

p-columnFilter.sm-filterIcon .pi-filter-icon {
  width: 12px !important;
  height: 12px !important;
  font-size: 0.8rem !important;
}

p-splitbutton.text-sm {
  .p-menuitem-text {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  @for $i from 1 through 12 {
    .xxl\:col-#{$i} {
      flex: 0 0 auto;
      width: calc(100% / 12 * #{$i});
    }
  }
}

.rounded-steps .p-steps-number {
  border-radius: 40%;
  font-size: 12px;
  background-color: #005bff;
  font-weight: 700;
}

.rounded-steps .p-highlight .p-steps-number {
  background-color: #009bff;
  transition: background-color 0.3s ease;
}

.p-selectbutton {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  width: auto;
  display: inline-flex;
}

.p-selectbutton .p-button {
  background-color: transparent;
  color: #666;
  border: none;
  padding: 10px 20px;
  white-space: nowrap;
  padding: 5px;
  margin: 5px;
}

.p-selectbutton .p-button.p-highlight {
  background-color: #3b82f6;
  color: white;
  background-color: rgba(#005bff, 1);
  box-shadow: 0 5px 10px rgba(0,0,0,0.6);
}

p-selectbutton.text-sm .p-button-label {
  font-size: 14px;
}

.p-dialog {
  max-height: unset !important;
}
