/* You can add global styles to this file, and also import other style files */
@use './styles/p-breadcrumb.scss';
//@import './styles/p-inputswitch.scss';
@use './styles/p-panel.scss';
@use './styles/p-card.scss';

@import '../node_modules/primeicons/primeicons.css';
@plugin "tailwindcss-primeui";
@layer tailwind, primeng, app-layer;

@layer tailwind {
  @import "./styles/tailwind.local.css";

}

/* Components fixes*/
@layer app-layer {
  a:not([pRipple]):not(p-tieredmenu-item-link) {
    @apply text-blue-400 underline hover:text-blue-500 hover:no-underline;
  }

  @import './app/themes/trivy-operator-dashboard.variables.css';
}

// Others
.hide-on-small {
  display: none;
}

@media (min-width: 992px) {
  .hide-on-small {
    display: block;
  }
}

 // tests
.custom-small-row tr {
  height: 25px;
}

.custom-small-row td {
  padding: 0px;
  padding-left: 4px;
  height: 25px !important;
  line-height: 1em;
}

.p-round-datatable {
  border-radius: 2px;
  border: 1px solid var(--p-menubar-border-color);
}

p-splitbutton.text-sm {
  .p-menuitem-text {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  @for $i from 1 through 12 {
    .xxl\:col-#{$i} {
      flex: 0 0 auto;
      width: calc(100% / 12 * #{$i});
    }
  }
}

.p-dialog {
  max-height: unset !important;
}

// various tailwind reverts

ul:not(.p-carousel-indicator-list):not(.p-tieredmenu-root-list) {
  list-style-type: disc !important;
  padding-left: 1.25rem;
}



markdown p {
  padding-top: 1.25rem;
}

// panel
p-panel.h-full > .p-panel.p-component {
  height: 100% !important;
}

p-panel.h-full .p-panel-content-container {
  height: calc(100% - 2*var(--p-panel-header-padding) - 1rem) !important;
  @apply flex flex-col;
}

p-panel.h-full .p-panel-footer {
  @apply mt-auto;
}

// table

p-table.p-datatable-xs .p-datatable-tbody > tr > td {
  font-size: .8125rem;
  padding: .25rem .6rem;
}

p-table.p-datatable-xs .p-datatable-thead > tr > th {
  font-size: .875rem;
  font-weight: 600;
}

span.p-sortable-column-badge {
  background-color: var(--p-primary-color);
  border-radius: var(--p-tag-rounded-border-radius);
  color: var(--p-tag-primary-color);
  font-size: var(--p-tag-font-size);
  font-weight: var(--p-tag-font-weight);
  gap: var(--p-tag-gap);
  padding: var(--p-tag-padding);
  margin: .3rem;
}

p-table-row-height {
  height: calc(var(--tod-host-line-height) * 2 + 0.5rem);
}

// card
p-card.h-full > .p-card.p-component {
  @apply h-full;
}

p-card.p-card-bold-subtitle .p-card-subtitle {
  @apply font-bold;
}

p-card.small-header .p-card-title {
  font-size: 1rem;
  font-weight: 700;
}

// breadcrumb
.breadcrumb-size {
  font-size: 14px;
}

.breadcrumb-pointer a {
  cursor: pointer;
  @extend .breadcrumb-size;
}

.breadcrumb-no-background .p-breadcrumb {
  background-color: transparent !important;
  border: none;
  color: inherit;
  box-shadow: none;
  padding-bottom: 0;
  padding-top: 0;
}

.breadcrumb-no-overflow {
  max-width: 100%;
  overflow: hidden;
}


// generic
.tod-text-center {
  text-align: center;
}

.tod-text-right {
  text-align: right;
}

.tod-content-border {
  border: 1px solid var(--p-content-border-color);
  border-radius: var(--p-content-border-radius);
}

.tod-content-background {
  background-color: var(--p-content-background);
}

.tod-content-border-top-light {
  border-top-width: 1px;
  border-style: solid;
  border-color: var(--p-content-border-color);
}



