/* You can add global styles to this file, and also import other style files */
/*@import "tailwindcss";*/
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeflex/primeflex.min.css';
/*@import '../node_modules/primeng/resources/primeng.css';*/
/*@import '../node_modules/primeicons/primeicons.css';*/
/*@import '../node_modules/primeflex/primeflex.min.css';*/

/* Components fixes*/
@import './styles/p-breadcrumb.scss';
@import './styles/p-inputswitch.scss';
@import './styles/p-panel.scss';
@import './styles/p-card.scss';

/* Others */
.hide-on-small {
  display: none;
}

@media (min-width: 992px) {
  .hide-on-small {
    display: block;
  }
}

h4.no-margins {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* tests */
.custom-small-row tr {
  height: 25px; /* Adjust the height as needed */
}

.custom-small-row td {
  padding: 0px; /* Adjust padding for a more compact look */
  padding-left: 4px;
  height: 25px !important; /* Ensure cell height matches row height */
  line-height: 1em; /* Adjust line height if needed */
}

p-sortIcon.sm-sortIcon .p-sortable-column-icon {
  font-size: 0.8rem !important; /* Adjust the size */
  width: 12px !important; /* Adjust the dimensions if needed */
  height: 12px !important;
}

p-columnFilter.sm-filterIcon .pi-filter-icon {
  width: 12px !important; /* Adjust width */
  height: 12px !important; /* Adjust height */
  font-size: 0.8rem !important; /* Optional */
}

p-splitbutton.text-sm {
  .p-menuitem-text {
    font-size: 14px;
  }
}

@media (min-width: 1400px) {
  @for $i from 1 through 12 {
    .xxl\:col-#{$i} {
      flex: 0 0 auto;
      width: calc(100% / 12 * #{$i});
    }
  }
}

.rounded-steps .p-steps-number {
  border-radius: 40%;
  font-size: 12px;
  background-color: #005bff;
  font-weight: 700;
}

.rounded-steps .p-highlight .p-steps-number {
  background-color: #009bff;
  transition: background-color 0.3s ease;
}

.p-selectbutton {
  border: 1px solid #ccc; /* Subtle border */
  border-radius: 5px; /* Slight rounded edges */
  background-color: transparent; /* No background */
  width: auto;
  display: inline-flex;
}

.p-selectbutton .p-button {
  background-color: transparent; /* No background */
  color: #666; /* Subtle text color */
  border: none; /* Remove button borders */
  padding: 10px 20px; /* Adjust padding for better spacing */
  white-space: nowrap;
  padding: 5px;
  margin: 5px;
}

.p-selectbutton .p-button.p-highlight {
  /*background-color: #3b82f6;*/ /* Active background color */
  color: white; /* Text color for active button */
  background-color: rgba(#005bff, 1);
  box-shadow: 0 5px 10px rgba(0,0,0,0.6); /* Highlighted button shadow */
}

p-selectbutton.text-sm .p-button-label {
    font-size: 14px;
}

.p-dialog {
  max-height: unset !important; /* Removes the max-height limitation */
}
