<div class="tod-content-border">
  <app-trivy-table
    [dataDtos]="watcherStateInfoDtos!"
    [isLoading]="isLoading"
    [trivyTableColumns]="trivyTableColumns"
    (refreshRequested)="getTableDataDtos()"
    (rowActionRequested)="onRowActionRequested($event)"
    [isResetFiltersVisible]="true"
    [isRefreshVisible]="true"
    [style]="{ width: '1205px' }"
    [stateKey]="'Watcher States'"
  />
</div>

<p-dialog header="Recreate watcher"
          [modal]="true"
          [closable]="true"
          [closeOnEscape]="true"
          [dismissableMask]="true"
          [(visible)]="isRecreateWatcherDialogVisible"
          [style]="{ width: '45rem', height: '15rem' }">
  <div class="flex flex-col h-full">

    <div class="flex-1 overflow-auto">
      @if (!isActionStarted) {
        <p class="p-text-secondary mb-4">
          Are you sure you want to recreate the watcher
          <b>{{ requestedRecreateWatcher?.kubernetesObjectType ?? 'n/a' }}</b>
          in namespace <b>{{ requestedRecreateWatcher?.namespaceName ?? 'n/a' }}</b>?
          This will delete the existing watcher and create a new one.
        </p>
      } @else {
        <p>{{ recreateWatcherResponseMessage }}</p>
      }
      @if (recreateWatcherResponseError) {
        <p>Error: {{ recreateWatcherResponseError }}</p>
      }
    </div>

    <div class="mt-auto pt-6 flex justify-end gap-2">
      @if (!isActionStarted) {
        <p-button label="Cancel" text raised severity="secondary" (click)="isRecreateWatcherDialogVisible = false" />
        <p-button label="Recreate" text raised [disabled]="isActionStarted" (click)="onRecreateWatcherRequested()" />
      } @else {
        <p-button label="Close" text raised severity="secondary" (click)="isRecreateWatcherDialogVisible = false" />
      }
    </div>

  </div>
</p-dialog>
