<p-splitter styleClass="mb-8" [layout]="screenSize == 'sm' ? 'vertical' : 'horizontal'"
            [panelSizes]="[35, 65]" stateStorage="local" [stateKey]="splitterStorageKey() && screenSize !== 'sm' ? 'splitter.' + splitterStorageKey() : undefined">
  <ng-template #panel>
    <div class="w-full">
      <app-trivy-table #mainTable
                       [activeNamespaces]="activeNamespaces()"
                       [dataDtos]="_dataDtos"
                       [singleSelectDataDto]="singleSelectDataDto()"
                       [isLoading]="_isMainTableLoading"
                       [trivyTableColumns]="mainTableColumns()"
                       (refreshRequested)="onRefreshRequested($event)"
                       (selectedRowsChanged)="onMainTableSelectionChange($event)"
                       (trivyDetailsTableCallback)="onMainTableExpandCallback($event)"
                       (multiHeaderActionRequested)="onMainTableMultiHeaderActionRequested($event)"

                       [rowExpandData]="mainTableRowExpandResponse()"
                       (rowExpandDataChange)="onMainTableRowExpandChange($event)"

                       [isClearSelectionVisible]="mainTableIsClearSelectionVisible()"
                       [isCollapseAllVisible]="mainTableIsCollapseAllVisible()"
                       [isResetFiltersVisible]="mainTableIsResetFiltersVisible()"
                       [isExportCsvVisible]="mainTableIsExportCsvVisible()"
                       [isRefreshVisible]="mainTableIsRefreshVisible()"
                       [isRefreshFilterable]="mainTableIsRefreshFilterable()"
                       [isFooterVisible]="mainTableIsFooterVisible()"
                       [selectionMode]="mainTableSelectionMode()"
                       [style]="mainTableStyle()"
                       [stateKey]="mainTableStateKey()"
                       [dataKey]="mainTableDataKey()"
                       [rowExpansionRender]="mainTableRowExpansionRender()"
                       [extraClasses]="mainTableExtraClasses()"
                       [multiHeaderActions]="mainTableMultiHeaderActions()"
      />
    </div>
  </ng-template>
  <ng-template #panel>
    <div class="w-full">
      <app-trivy-table class="row"
                       [activeNamespaces]="activeNamespaces()"
                       [dataDtos]="selectedDataDto?.details ?? []"
                       [trivyTableColumns]="detailsTableColumns()"
                       (multiHeaderActionRequested)="onDetailsTableMultiHeaderActionRequested($event)"

                       [isClearSelectionVisible]="detailsIsClearSelectionVisible()"
                       [isCollapseAllVisible]="detailsIsCollapseAllVisible()"
                       [isResetFiltersVisible]="detailsIsResetFiltersVisible()"
                       [isExportCsvVisible]="detailsIsExportCsvVisible()"
                       [isRefreshVisible]="detailsIsRefreshVisible()"
                       [isRefreshFilterable]="detailsIsRefreshFilterable()"
                       [isFooterVisible]="detailsIsFooterVisible()"
                       [selectionMode]="detailsSelectionMode()"
                       [style]="detailsStyle()"
                       [stateKey]="detailsStateKey()"
                       [dataKey]="detailsDataKey()"
                       [rowExpansionRender]="detailsRowExpansionRender()"
                       [extraClasses]="detailsExtraClasses()"
                       [multiHeaderActions]="detailsMultiHeaderActions()"
      />
    </div>
  </ng-template>
</p-splitter>
