<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<div class="pb-3">
  <p-panel header="Trivy Operator Dashboard" class="mb-3" [toggleable]="true">
    <div class="grid">
      <div style="width: 300px" class="col-fixed">
        <img src="assets/logo.blurred.png" style="width: 100%" />
      </div>
      <div class="col-12 md:col grid">
        <div class="col-12 xl:col-6">
          <h4>Intro</h4>
          <p>
            Welcome to the Trivy Operator Dashboard, a comprehensive security management tool for Kubernetes environments.
            Built on top of the powerful Trivy Operator from Aqua Security, this dashboard provides insights into your
            cluster's security posture. It offers detailed insights on vulnerability scans, policy validation scans and
            other ones. With an intuitive and user-friendly interface, you can easily monitor, detect, and respond to
            security threats, ensuring your Kubernetes environment remains robust and secure.
          </p>
          <p>
            All features consist in dashboards (for view on a glance), browse and inspect findings (with table filters,
            sorts), export data.
          </p>
          <p>This app is fully operational, with new features currently in development. Stay tuned for more updates!</p>
          <p>More info on <a href="https://github.com/raoulx24/trivy-operator-dashboard" target="_blank">GitHub page</a>.</p>
        </div>
        <div class="col-12 md:col-6 xl:col-3">
          <h4>Features</h4>
          <ul>
            <li>Vulnerability Reports</li>
            <li>Config Audit Reports</li>
            <li>Cluster RBAC Assessment Reports</li>
            <li>Exposed Secret Reports</li>
            <li>Cluster Compliance Reports</li>
            <li>Cluster Vulnerability Reports</li>
            <li>RBAC Assessment Reports</li>
            <li>SBOM Reports</li>
          </ul>
        </div>
        <div class="col-12 md:col-6 xl:col-3">
          <h4>Version Info</h4>
          <div class="p-1">
            <span>Current Version:</span>
            <p-tag class="p-2" [rounded]="true" [value]="currentVersion ? (currentVersion.fileVersion ?? 'n/a') : 'n/a'" />
          </div>
          <div class="p-1">
            <span>Latest Version:</span>
            <p-tag class="p-2" [rounded]="true" [value]="latestVersion ?? 'n/a'" />
          </div>
          <div class="p-1">
            <p-tag *ngIf="newVersionAvailable" [rounded]="true" value="New version available!" icon="pi pi-info-circle" severity="info" />
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="releaseNotes.length > 0">
      <h3>Release Notes</h3>
      <div class="grid align-items-start md:align-items-stretch">
        <div *ngFor="let releaseNote of releaseNotes; let i = index"
             class="col-12 md:col-6 lg:col-4 xl:col-3">
          <p-card class="h-full small-header"
                  [ngClass]="{'p-card-bold-subtitle': i === 0}"
                  [header]="releaseNote.name ?? ''"
                  subheader="{{ releaseNote.createdAt ?? '' | date: 'yyyy-MM-dd' }} {{ i === 0 ? '(latest)' : '' }}">
            <markdown [data]="releaseNote.body ?? ''"></markdown>
          </p-card>
        </div>
      </div>
    </div>
  </p-panel>
</div>

<p-panel header="Credits AKA Powered By" [toggleable]="true">
  <h4>Acknowledging the Building Blocks Behind the App</h4>
  <div class="grid align-items-stretch">
    <div *ngFor="let credit of credits" class="col-4 md:col-3 lg:col-2 xl:col-1">
      <p-card class="h-full small-header"
              header="{{ credit.name }}">
        <div class="grid">
          <div class="col-12">
            <img src="{{ credit.imgSrc }}" alt="{{ credit.imgAlt }}"
                 class="w-full" style="{{ credit.imgExtraStyle }}" />
          </div>
          <div class="col-12 text-left">
            <div class="mt-2">
              <a href="{{ credit.homeUrl }}" target="_blank">Home</a>
            </div>
            <div class="mt-2">
              <a href="{{ credit.gitUrl }}" target="_blank">Git</a>
            </div>
            <div class="mt-2">
              <a href="{{ credit.docsUrl }}" target="_blank">Docs</a>
            </div>
          </div>
        </div>
      </p-card>
    </div>
    <div class="col-8 md:col-6 lg:col-2 xl:col-2">
      <p-card class="h-full small-header"
              header="Others">
        <div class="grid">
          <div class="col-12 text-left">
            <div class="-ml-1">
              <b>Frontend</b>
            </div>
            <div class="mt-2">
              <a href="https://github.com/cytoscape/cytoscape" target="_blank">Cytoscape</a>
            </div>
            <div class="mt-2">
              <a href="https://github.com/iVis-at-Bilkent/cytoscape.js-fcose" target="_blank">fCoSE</a>
            </div>
            <div class="mt-2">
              <a href="https://github.com/chartjs" target="_blank">Chart.js</a>
            </div>
            <div class="mt-3 -ml-1">
              <b>Backend</b>
            </div>
            <div class="mt-2">
              <a href="https://github.com/kubernetes-client/csharp" target="_blank">Kubernetes C# Client</a>
            </div>
            <div class="mt-2">
              <a href="https://github.com/serilog/serilog" target="_blank">Serilog</a>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</p-panel>
