<div class="pb-2">
  <p-panel header="Trivy Operator Dashboard" [toggleable]="true">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 grid grid-cols-12 gap-4">
        <div class="col-span-12 xl:col-span-6 flex items-start gap-4">
          <div class="w-[300px] flex-none">
            <img src="assets/logo.blurred.png" class="w-full" />
          </div>
          <div class="flex-1">
            <p class="text-lg font-semibold">Intro</p>
            <p>
              Welcome to the Trivy Operator Dashboard, a comprehensive security management tool for Kubernetes environments.
              Built on top of the powerful Trivy Operator from Aqua Security, this dashboard provides insights into your
              cluster's security posture. It offers detailed insights on vulnerability scans, policy validation scans, and
              other ones. With an intuitive and user-friendly interface, you can easily monitor, detect, and respond to
              security threats, ensuring your Kubernetes environment remains robust and secure.
            </p>
            <p>
              All features consist of dashboards (for a quick overview), browsing and inspecting findings (with table filters, sorts), and exporting data.
            </p>
            <p>This app is fully operational, with new features currently in development. Stay tuned for more updates!</p>
            <p>More info on <a href="https://github.com/raoulx24/trivy-operator-dashboard" target="_blank">GitHub page</a>.</p>
          </div>
        </div>

        <div class="col-span-12 md:col-span-6 xl:col-span-3">
          <p class="text-lg font-semibold">Features</p>
            <ul class="list-disc pl-5">
              <li>Vulnerability Reports</li>
              <li>Config Audit Reports</li>
              <li>Cluster RBAC Assessment Reports</li>
              <li>Exposed Secret Reports</li>
              <li>Cluster Compliance Reports</li>
              <li>Cluster Vulnerability Reports</li>
              <li>RBAC Assessment Reports</li>
              <li>SBOM Reports</li>
            </ul>
        </div>

        <div class="col-span-12 md:col-span-6 xl:col-span-3">
          <p class="text-lg font-semibold">Version Info</p>
          <div class="p-1">
            <span class="pr-2">Current Version:</span>
            <p-tag [rounded]="true" [value]="currentVersion ? (currentVersion.fileVersion ?? 'n/a') : 'n/a'" />
          </div>
          <div class="p-1">
            <span class="pr-2">Latest Version:</span>
            <p-tag class="p-2" [rounded]="true" [value]="latestVersion ?? 'n/a'" />
          </div>
          <div class="p-1">
            <p-tag *ngIf="newVersionAvailable" [rounded]="true" value="New version available!" icon="pi pi-info-circle" severity="info" />
          </div>
        </div>
      </div>
    </div>
  </p-panel>
</div>

<div class="pb-2">
  <p-panel *ngIf="releaseNotes.length > 0" header="Release Notes" [toggleable]="true">
    <div class="grid grid-cols-12 gap-4 items-start md:items-stretch">
      <div *ngFor="let releaseNote of releaseNotes; let i = index"
           class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3">
        <p-card class="h-full small-header"
                [ngClass]="{'p-card-bold-subtitle': i === 0}"
                [header]="releaseNote.name ?? ''"
                subheader="{{ releaseNote.createdAt ?? '' | date: 'yyyy-MM-dd' }} {{ i === 0 ? '(latest)' : '' }}">
          <div class="prose prose-ul">
            <markdown class="list-disc pl-5" [data]="releaseNote.body ?? ''"></markdown>
          </div>
        </p-card>
      </div>
    </div>
  </p-panel>
</div>

<p-panel header="Credits" [toggleable]="true">
  <p class="text-lg font-semibold">Acknowledging the Building Blocks Behind the App</p>
  <div class="grid grid-cols-12 gap-4 items-stretch">
    <div *ngFor="let credit of credits" class="col-span-3 md:col-span-2 xl:col-span-1 items-stretch">
      <p-card class="h-full small-header flex flex-col" header="{{ credit.name }}">
        <div class="flex-col text-left pb-4">
          <div class="mt-2"><a href="{{ credit.homeUrl }}" target="_blank">Home</a></div>
          <div class="mt-2"><a href="{{ credit.gitUrl }}" target="_blank">Git</a></div>
          <div class="mt-2"><a href="{{ credit.docsUrl }}" target="_blank">Docs</a></div>
        </div>
        <div class="mt-auto">
          <img src="{{ credit.imgSrc }}" alt="{{ credit.imgAlt }}" loading="lazy"
               class="w-full h-auto object-cover" style="{{ credit.imgExtraStyle }}" />
        </div>
      </p-card>
    </div>
    <div class="col-span-6 md:col-span-2 items-stretch">
      <p-card class="h-full small-header" header="Others">
        <div class="gap-4">
          <div class="flex-col text-left mt-auto">
            <div class="font-semibold">Frontend</div>
            <div class="mt-2"><a href="https://github.com/cytoscape/cytoscape" target="_blank">Cytoscape</a></div>
            <div class="mt-2"><a href="https://github.com/iVis-at-Bilkent/cytoscape.js-fcose" target="_blank">fCoSE</a></div>
            <div class="mt-2"><a href="https://github.com/chartjs" target="_blank">Chart.js</a></div>
            <div class="mt-4 font-semibold">Backend</div>
            <div class="mt-2"><a href="https://github.com/kubernetes-client/csharp" target="_blank">K8s C# Client</a></div>
            <div class="mt-2"><a href="https://github.com/serilog/serilog" target="_blank">Serilog</a></div>
          </div>
        </div>
      </p-card>
    </div>

  </div>
</p-panel>
