<app-generic-reports-compare [dataDtos]="dataDtos()"
                             [comparedTableColumns]="comparedTableColumns"
                             [namespacedImageDtos]="namespacedImageDtos"
                             [firstSelectedTrivyReportId]="firstSelectedSbomReportId()"

                             [compareIsResetFiltersVisible]="true"
                             [compareStateKey]="'SBOM Reports - Compared'"
                             [compareExtraClasses]="'trivy-with-filters'"

/>
