<div class="grid grid-cols-12 gap-2 pb-2">
  <app-namespace-image-selector class="col-span-12 xl:col-span-4 lg:col-span-6"
                                [dataDtos]="namespacedImageDtos()"
                                [(selectedImageId)]="firstSelectedTrivyReportId" />
  <app-namespace-image-selector class="col-span-12 xl:col-span-4 lg:col-span-6"
                                [dataDtos]="namespacedImageDtos()"
                                [(selectedImageId)]="secondSelectedTrivyReportId" />
</div>
<div class="tod-content-border">
  <app-trivy-table class="row"
                   [activeNamespaces]="[]"
                   [dataDtos]="trivyReportDetailsCompared"
                   [trivyTableColumns]="comparedTableColumns()"

                   [isCollapseAllVisible]="compareIsCollapseAllVisible()"
                   [isResetFiltersVisible]="compareIsResetFiltersVisible()"
                   [stateKey]="compareStateKey()"
                   [extraClasses]="compareExtraClasses()" />
</div>
