<p-tabs [(value)]="tabPageActiveIndex" (valueChange)="onTabPageChange($event)">
  <p-tablist>
    <p-tab value="0" [disabled]="!enabledTrivyReports.includes('vr')">Vulnerability Reports</p-tab>
    <p-tab value="1" [disabled]="!enabledTrivyReports.includes('car')">Config Audit Reports</p-tab>
    <p-tab value="2" [disabled]="!enabledTrivyReports.includes('crar')">Cluster RBAC Assessment Reports</p-tab>
    <p-tab value="3" [disabled]="!enabledTrivyReports.includes('esr')">Exposed Secret Reports</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-home-vulnerability-reports *ngIf="enabledTrivyReports.includes('vr')"
                                      [showDistinctValues]="showDistinctValues"
                                      id="home-vr" />
    </p-tabpanel>
    <p-tabpanel value="1">
      <app-home-config-audit-reports *ngIf="enabledTrivyReports.includes('car')"
                                     [showDistinctValues]="showDistinctValues"
                                     id="home-car" />
    </p-tabpanel>
    <p-tabpanel value="2">
      <app-home-cluster-rbac-assessment-reports *ngIf="enabledTrivyReports.includes('crar')"
                                                [showDistinctValues]="showDistinctValues"
                                                id="home-crar" />
    </p-tabpanel>
    <p-tabpanel value="3">
      <app-home-exposed-secret-reports *ngIf="enabledTrivyReports.includes('esr')"
                                       [showDistinctValues]="showDistinctValues"
                                       id="home-esr"/>
    </p-tabpanel>
    <div class="flex text-sm items-center justify-items-center gap-4 pb-1 pt-2">
      <p-button
        icon="pi pi-refresh"
        label="Refresh Data"
        raised
        size="small"
        class="-mt-1"
        text
        (onClick)="onRefreshData()"
      />
      <p-toggleswitch inputId="distinctSwitch" [(ngModel)]="showDistinctValues" />
      <label for="distinctSwitch" class="">Distinct values</label>

    </div>

  </p-tabpanels>
</p-tabs>
