<p-splitter styleClass="mb-8" [layout]="screenSize == 'sm' ? 'vertical' : 'horizontal'"
            [panelSizes]="[45, 55]" stateStorage="local" [stateKey]="screenSize !== 'sm' ? 'splitter.TrivyDependency' : undefined" >
  <ng-template #panel>
    <div class="trivy-tree-table trivy-half overflow-auto" >
      <p-treeTable [value]="treeNodes"
                   [resizableColumns]="true"
                   columnResizeMode="expand"
                   [autoLayout]="true"
                   selectionMode="single"
                   [(selection)]="selectedTreeNode"
                   (onNodeSelect)="onTreeTableNodeSelect($event)"
                   (onNodeUnselect)="onTreeTableNodeUnselect()"
                   styleClass="p-treetable-sm text-sm"
                   [style]="{'width': '770px'}"
                   dataKey="id">
        <ng-template pTemplate="colgroup">
          <colgroup>
            <col style="width: auto" />
            <col style="width: auto" />
            <col style="width: 60px" />
            <col style="width: 60px" />
            <col style="width: 60px" />
            <col style="width: 60px" />
            <col style="width: 60px" />
            <col style="width: 100px" />
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-rowNode>
          <tr>
            <th ttResizableColumn>Object Type</th>
            <th ttResizableColumn>Description</th>
            <th ttResizableColumn style="width: 60px">C</th>
            <th ttResizableColumn style="width: 60px">H</th>
            <th ttResizableColumn style="width: 60px">M</th>
            <th ttResizableColumn style="width: 60px">L</th>
            <th ttResizableColumn style="width: 60px">U</th>
            <th ttResizableColumn style="width: 100px"></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
            <td style="width: 250px">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              {{ rowData.objectType }}
            </td>
            <td [attr.colspan]="rowData.hasSeverities ? 1 : 6">{{ rowData.description }}</td>
            <td *ngIf="rowData.hasSeverities" style="width: 60px">
              <p-tag [rounded]="true"
                     [style]="0 | severityCssStyleById:(rowData.critical ?? -1)"
                     [value]="rowData.critical | vulnerabilityCount" />
            </td>
            <td *ngIf="rowData.hasSeverities" style="width: 60px">
              <p-tag [rounded]="true"
                     [style]="1 | severityCssStyleById:(rowData.high ?? -1)"
                     [value]="rowData.high | vulnerabilityCount" />
            </td>
            <td *ngIf="rowData.hasSeverities" style="width: 60px">
              <p-tag [rounded]="true"
                     [style]="2 | severityCssStyleById:(rowData.medium ?? -1)"
                     [value]="rowData.medium | vulnerabilityCount" />
            </td>
            <td *ngIf="rowData.hasSeverities" style="width: 60px">
              <p-tag [rounded]="true"
                     [style]="3 | severityCssStyleById:(rowData.low ?? -1)"
                     [value]="rowData.low | vulnerabilityCount" />
            </td>
            <td *ngIf="rowData.hasSeverities" style="width: 60px">
              <p-tag [rounded]="true"
                     [style]="4 | severityCssStyleById:(rowData.unknown ?? -1)"
                     [value]="rowData.unknown | vulnerabilityCount" />
            </td>
            <td style="width: 100px">
              <p-button *ngIf="rowData.isTrivyReport"
                        styleClass="tod-text-primary-color"
                        label="Open... ⧉"
                        size="small"
                        text
                        raised
                        (onClick)="onOpenTrivyReport(rowData)" />
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
  </ng-template>
  <ng-template #panel>
    <div class="w-full">

      <app-fcose [nodeDataDtos]="nodeDataDtos"
                 [fcoseClasses]="'fcose fcose-half mt-2'"
                 [idealEdgeLength]="30"
                 [extraColorClasses]="extraColorClasses"
                 [selectedNodeId]="selectedNodeId"
                 (selectedNodeIdChange)="onGraphSelectedNodeIdChange($event)" />
    </div>
  </ng-template>
</p-splitter>

