.graph-container:focus {
  outline: none; /* Removes the focus outline */
}

/* Define variables for heights */
$default-height: calc(100vh - 190px);
$default-dialog-height: calc(100vh - 500px);
$default-height-half: calc(50vh - 145px);

/* base style */
.fcose {
  height: $default-height;
  width: 100%;
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1 !important;
  /* styles when classB is also present */
  &.fcose-half {
    height: $default-height-half;

    @media (min-width: 576px) {
      height: $default-height;
    }
  }
}

.fcose-dialog {
  height: $default-dialog-height;
}

.hidden-sm {
  display: none;
}

@media (min-width: 576px) {
  .hidden-sm {
    display: block;
  }
}
