<app-trivy-toolbar class="block p-3 tod-content-border tod-content-background">
  <div class="w-full flex items-center">
      <p-button icon="pi pi-refresh"
                class="mr-2"
                label="Refresh" size="small" text raised
                (click)="loadData()" />
    <div class="h-8 w-[2px] min-w-[2px] tod-separator mx-2"></div>
    @if (treeData.length > 0) {
      <span class="px-2 text-sm whitespace-nowrap">Fully visible level: </span>
      <p-selectButton [options]="treeExpandLevelOptions"
                      [(ngModel)]="treeExpandLevelOptionValue"
                      (onOptionClick)="onOptionClickTreeExpandLevel($event)"
                      optionLabel="label"
                      optionValue="id"
                      class="text-sm"
                      unselectable="true" />

    } @else {
      <span class="px-2 text-sm whitespace-nowrap">No data</span>
    }
  </div>
</app-trivy-toolbar>

<div class="h-[85vh] overflow-auto tod-content-border">
  <p-treeTable [value]="treeData"
               [resizableColumns]="true"
               (onNodeExpand)="onNodeExpand($event)"
               (onNodeCollapse)="onNodeCollapse($event)"
               columnResizeMode="fit"
               styleClass="p-treetable-sm text-sm w-full">
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col class="w-[350px]" />
        <col class="w-[100px]" />
        <col class="w-auto" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th ttResizableColumn>Node</th>
        <th ttResizableColumn>Count</th>
        <th ttResizableColumn>Info</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" >
      <tr [ttRow]="rowNode" class="h-[53px]">
        <td>
          <p-treeTableToggler [rowNode]="rowNode" />
          @if (rowData.isRoot) {
            <p-tag [style]="rowData.severityId | severityCssStyleById:(rowData.count ?? -1)"
                   [value]="rowData.label"
                   [rounded]="true"
                   styleClass="ml-2 text-lg" />
          } @else {
            <span>{{ rowData.label }}</span>
          }
        </td>
        <td>
          @if (!rowData.isLeaf) {
            <p-tag [style]="rowData.severityId | severityCssStyleById:(rowData.count ?? -1)"
                   [value]="rowData.count ?? -1 | vulnerabilityCount"
                   [rounded]="true"
                   styleClass="ml-2" />
          }
        </td>

        <td>
          @if (rowData.isLeaf) {
            <small class="tod-text-muted-color">Category: <b>{{ rowData.statistics?.[0]?.category || '' }}</b></small><br />
            <span>{{ rowData.message || '' }}</span>
          } @else {
            @if (rowData.isExpanded) {
              <span class="tod-text-muted-color">
                Categories statistics: <b>{{ rowData.statistics ?? [] | genericObjectArraySummary }}</b>
              </span>
            } @else {
              <small class="tod-text-muted-color">
                Children: <b>{{ rowData.childrenLabels || '' }}</b>
              </small><br />
              <small class="tod-text-muted-color">
                Categories statistics: <b>{{ rowData.statistics ?? [] | genericObjectArraySummary }}</b>
              </small>
            }
          }

        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
