<app-trivy-toolbar class="block w-full">
  <div class="tod-content-background w-full">
    <p-button icon="pi pi-refresh"
              label="Refresh" size="small" text raised
              (click)="loadData()" />
  </div>
</app-trivy-toolbar>
<div class="h-[85vh] overflow-auto">
  <p-treeTable [value]="treeData"
               [resizableColumns]="true"
               (onNodeExpand)="onNodeExpand($event)"
               (onNodeCollapse)="onNodeCollapse($event)"
               columnResizeMode="fit"
               styleClass="p-treetable-sm text-sm w-full">
    <ng-template pTemplate="colgroup">
      <colgroup>
        <col style="width: 250px" />
        <col style="width: 100px" />
        <col style="width: auto" />
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th ttResizableColumn>Node</th>
        <th ttResizableColumn>Count</th>
        <th ttResizableColumn>Message</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" >
      <tr [ttRow]="rowNode">
        <td>
          <p-treeTableToggler [rowNode]="rowNode" />
          <span *ngIf="!rowData.isRoot">{{ rowData.label }}</span>
          <p-tag *ngIf="rowData.isRoot"
                 [style]="rowData.severityId | severityCssStyleById:(rowData.count ?? -1)"
                 [value]="rowData.label"
                 [rounded]="true"
                 styleClass="ml-2 text-lg" />
        </td>
        <td>
          <p-tag *ngIf="!rowData.isLeaf"
                 [style]="rowData.severityId | severityCssStyleById:(rowData.count ?? -1)"
                 [value]="rowData.count ?? -1 | vulnerabilityCount"
                 [rounded]="true"
                 styleClass="ml-2" />
        </td>

        <td>
          <small class="text-muted">expanded: {{ rowData.isExpanded }}</small><br />
          <span *ngIf="rowData.isExpanded">{{ rowData.message || '' }}</span>
          <span *ngIf="!rowData.isExpanded">{{ rowData.messageCollapsed || '' }}</span>
        </td>
      </tr>
    </ng-template>
  </p-treeTable>
</div>
