<div class="tod-content-border">
  <app-trivy-table
    csvFileName="Cluster RBAC Assessment Reports"
    csvStorageKey="Cluster RBAC Assessment Reports"
    [activeNamespaces]="activeNamespaces"
    [dataDtos]="dataDtos"
    [isLoading]="isLoading"
    [trivyTableColumns]="trivyTableColumns"
    (refreshRequested)="getTableDataDtos()"

    [isExportCsvVisible]="true"
    [isResetFiltersVisible]="true"
    [isRefreshVisible]="true"
    [isFooterVisible]="true"
    [style]="{ width: '1970px' }"
    [stateKey]="'Cluster RBAC Assessment Reports Detailed'"

  />
</div>
