<mat-icon>device_hub</mat-icon>
<div class="tod-content-border">
  <app-trivy-table
    csvFileName="RBAC Assessment Reports"
    csvStorageKey="RBAC Assessment Reports"
    [activeNamespaces]="activeNamespaces"
    [dataDtos]="dataDtos"
    [isLoading]="isLoading"
    [trivyTableColumns]="trivyTableColumns"
    (refreshRequested)="getTableDataDtos()"

    [rowExpandData]="rowExpandResponse"
    (rowExpandDataChange)="onRowExpandChange($event)"

    [isExportCsvVisible]="true"
    [isResetFiltersVisible]="true"
    [isRefreshVisible]="true"
    [isFooterVisible]="true"
    [style]="{ width: '2100px' }"
    [stateKey]="'RBAC Assessment Reports Detailed'"
  />
</div>
