:root {
  --p-icon-size: .75rem;
  --tod-host-line-height: 19.5px;
  --tod-button-label-font-weight: 400;
  --tod-card-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.6);
  --tod-datatable-body-cell-padding: .25rem .6rem;
  --tod-datatable-footer-cell-background: var(--p-datatable-header-cell-background);
  --tod-datatable-header-cell-padding: .5rem .5rem;
  --tod-datatable-column-title-font-weight: 400;
  --tod-selectbutton-border-radius: 4px;
  --tod-tabs-tab-padding: .5rem .75rem;
  --tod-tag-font-size: .75rem;
  --tod-tag-font-weight: 600;
  --tod-tag-primary-color: var(--p-primary-contrast-color);
  --p-tag-primary-color: var(--p-primary-contrast-color);
  /*--p-datatable-header-cell-hover-background: var(--p-datatable-header-cell-background);*/
  /* not working via providePrimeng */
  --p-datatable-header-border-width: 0 0 1px 0;
  --p-datatable-header-cell-padding: .5rem .5rem;
  --p-datatable-header-cell-selected-background: var(--p-datatable-header-cell-background);
  --p-datatable-header-cell-selected-color: var(--p-button-text-primary-color);
  /* to be added via providePrimeng */
  --p-breadcrumb-padding: 0;
  --p-togglebutton-content-checked-background: var(--p-button-text-primary-color);
  --p-togglebutton-background: var(--p-tod-togglebutton-background-border-color);
  --p-togglebutton-checked-background: var(--p-tod-togglebutton-background-border-color);
  --p-togglebutton-border-color: var(--p-tod-togglebutton-background-border-color);
  --p-togglebutton-checked-border-color: var(--p-tod-togglebutton-background-border-color);
  --p-togglebutton-content-checked-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.6);
  --p-togglebutton-transition-duration: .5s;
  --p-togglebutton-border-radius: 4px;
  --p-togglebutton-font-weight: 500;
  --p-togglebutton-padding: .20rem .20rem;
  --p-togglebutton-content-border-radius: 4px;
  --p-togglebutton-content-padding: 0.25rem 0.25rem;
  --p-border-radius-md: 2px;
  --p-tieredmenu-item-color: var(--p-primary-color);
  --p-tieredmenu-item-icon-color: var(--p-primary-600);
  --p-dialog-header-padding: .8rem 1.25rem;
  /* generic vars */
  --tod-screen-width-xs: 576px;
  /* just tests */

}
