<div class="grid flex">
  <div class="flex align-items-center col-12">
    <p-button icon="pi pi-search-plus" label="Zoom In" size="small" [text]="true" (onClick)="onZoomIn()" />
    <p-button icon="pi pi-search-minus" label="Zoom Out" size="small" [text]="true" (onClick)="onZoomOut()" />
    <p-button icon="pi pi-arrows-alt" label="Fit" size="small" [text]="true" (onClick)="onZoomFit()" />
    <input type="search"
           pInputText
           [formControl]="inputFilterByNameControl"
           placeholder="Highlight by name..."
           style="width: 200px; font-size: 12px" />
    <p-button label="Undo"
              size="small"
              [text]="true"
              [disabled]="currentDeletedNodesIndex == -1 || deletedNodes.length == 0"
              (onClick)="onUndo()">
      <fa-icon [icon]="faReply" class="mr-2"></fa-icon>
    </p-button>
    <p-button label="Redo"
              size="small"
              [text]="true"
              [disabled]="currentDeletedNodesIndex >= deletedNodes.length - 1"
              (onClick)="onRedo()">
      <fa-icon [icon]="faShare" class="mr-2"></fa-icon>
    </p-button>
    <p-button label="Show All"
              size="small"
              [text]="true"
              [disabled]="deletedNodes.length == 0 || this.currentDeletedNodesIndex == -1"
              (onClick)="onShowAll()">
      <fa-icon [icon]="faEye" class="mr-2"></fa-icon>
    </p-button>
  </div>
  <div class="flex align-items-center col-12 p-0">
    <p-breadcrumb class="breadcrumb-no-background breadcrumb-no-overflow"
                  [home]="navHome"
                  [model]="navItems"
                  (onItemClick)="onNavItemClick($event)" />
  </div>
  <div class="flex align-items-center col-12">
    <span>{{ currentDeletedNodesIndex }} ...... {{ deletedNodes.length }}</span>
    <span *ngIf="testHoveredNode">{{ testHoveredNode.id() }}</span>
  </div>
  <div class="col-12 h-full">
    <div #graphContainer style="width: 100%; height: 72vh" class="graph-container"></div>
  </div>
</div>
