<div class="grid grid-cols-12 gap-2 items-stretch">
  <div class="col-span-4 flex w-full">
    <p-select [placeholder]="namespacePlaceholder()"
              class="text-sm w-full"
              [filter]="true"
              [options]="activeNamespaces"
              [showClear]="true"
              [disabled]="disabled()"
              [(ngModel)]="selectedNamespace"
              (onChange)="filterImageDtos()" />
  </div>
  <div class="col-span-8 flex items-center gap-2 justify-center">
    <p-select optionLabel="imageNameTag"
              [placeholder]="imagePlaceholder()"
              class="text-sm w-full"
              appendTo="body"
              [filter]="true"
              [options]="imageDtos"
              [showClear]="true"
              [disabled]="disabled()"
              [(ngModel)]="selectedImageDto">
      <ng-template let-imageDto pTemplate="imageDtos">
        <div class="flex items-center gap-2 w-full overflow-hidden text-sm">
          <div class="truncate whitespace-nowrap">{{ imageDto.imageNameTag }}</div>
          @if (imageDto.icon) {
            <div class="ml-auto">
              <p-tag rounded class="flex items-center">
                <app-icon [name]="imageDto.icon" class="text-xs align-middle inline-block tod-text-contrast-color"/>
              </p-tag>
            </div>
          }
        </div>
      </ng-template>
    </p-select>
  </div>
</div>
