/*p-card.h-full > .p-card.p-component {
  height: 100% !important;
}

p-card.h-full > .p-card.p-component > .p-card-content {
  height: 100% !important;
}*/

/*
not working...
p-card.p-card-bold-subtitle > .p-card.p-component > .p-card-subtitle {
  font-weight: 700 !important;
  font-style: italic !important;
}*/

/*p-card.p-card-bold-subtitle .p-card-subtitle {
  font-weight: 700 !important;
  color: gray;
}

p-card.small-header .p-card-title {
  font-size: 1rem !important;
}*/
