<p-menubar>
  <ng-template pTemplate="start">
    <div class="flex items-center gap-4">
      <p-button icon="pi pi-bars" [raised]="true" [text]="true" (click)="openDrawer()" />
      <img alt="logo" src="assets/logo_AL.ico" style="cursor: pointer; height: 45px" (click)="router.navigate(['/'])" />
      <h4 class="no-margins font-semibold">
        <span class="hidden sm:inline">Trivy Operator Dashboard - </span>{{ activePage }}
      </h4>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex items-center gap-0">
      @if (alertsCount) {
        <p-button icon="pi pi-bell" label="" [raised]="true" [rounded]="true" [text]="true" (click)="onAlertsClick()" />
        <p-tag class="left-0 top-1/3 transform -translate-x-1/2 -translate-y-1/2 text-xs px-1 py-0.5 z-10"
               [value]="alertsCount.toString()"
               [rounded]="true"
               severity="info">
        </p-tag>
      }

      <p-button [icon]="isDarkMode ? 'pi pi-sun' : 'pi pi-moon'"
                [raised]="true"
                [rounded]="true"
                [text]="true"
                (click)="switchLightDarkMode()">
      </p-button>
    </div>
  </ng-template>
</p-menubar>
<p-drawer [baseZIndex]="10000" [closable]="false" [(visible)]="isDrawerVisible">
  <p-panelMenu class="w-full" [model]="items" [multiple]="true">
    <ng-template let-item #item>
      <a pRipple class="flex items-center cursor-pointer text-color px-4 py-2">
        @if (item.icon) {
          <app-icon [name]="item.icon"/>
        }
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-template>
  </p-panelMenu>
</p-drawer>
<p-toast />
